@import './_animations.css';
@import './_fonts.css';
@import './_typography.css';

/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/
.order-enter {
	transform: translateX(-120%);
	transition: 0.5s;
	max-height: 0;
	padding: 0 !important;
}

.order-enter.order-enter-active {
	max-height: 60px;
	transform: translateX(0);
	padding: 2rem 0 !important;
}

.order-exit {
	transition: 0.5s;
	transform: translateX(0);
}

.order-exit.order-exit-active {
	transform: translateX(120%);
	padding: 0;
}

.count-enter {
	background: #f00;
	transition: 0.5s;
	transform: translateY(100%);
}

.count-enter.count-enter-active {
	background: #ff0;
	transform: translateY(0);
}

.count-exit {
	background: #000;
	transform: translateY(0);
	transition: 0.5s;
	position: absolute;
	left: 0;
	bottom: 0;
}

.count-exit.count-exit-active {
	background: #008000;
	transform: translateY(-100%) scale(3);
}
/* style.styl */

header.top {
	text-align: center;
}

header.top h1 {
	font-size: 14.4rem;
	line-height: 0.7;
	display: flex;
	justify-content: center;
}

header.top h1 .ofThe {
	display: flex;
	font-size: 3rem;
	color: #f5a623;
	justify-content: center;
	align-items: center;
	background: url("images/anchor.svg") center no-repeat;
	background-size: cover;
	padding: 0 1rem;
}

header.top h1 .ofThe .of {
	padding-right: 2rem;
	position: relative;
	right: -0.5rem;
}

header.top h3 {
	margin: 0;
	font-size: 2rem;
	color: #f5a623;
	position: relative;
	display: inline-block;
}

header.top h3 span {
	background: #fff;
	position: relative;
	z-index: 2;
	padding-left: 1rem;
	padding-right: 1rem;
}

header.top h3:before,
header.top h3:after {
	display: block;
	z-index: 1;
	background: #000;
	position: absolute;
	width: 130%;
	height: 1px;
	content: '';
	top: 5px;
	margin-left: -15%;
}

header.top h3:after {
	top: auto;
	bottom: 7px;
}

/*  */
.redux-in-restaurant {
	display: flex;
	height: 90vh;
	max-width: 1500px;
	margin: 0 auto;
	margin-top: 5vh;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.redux-in-restaurant > * {
	flex: 1 4 auto;
	padding: 2rem;
	border: 1rem double #1a1a1a;
	position: relative;
	background: #fff;
	transition: all 0.3s;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	overflow: scroll;
}

.redux-in-restaurant > *:first-child {
	flex-shrink: 1;
	flex-basis: 50%;
	/* transform: translateX(50%) rotateY(6deg) translateX(-50%); */
}

.redux-in-restaurant > *:nth-child(2) {
	/* transform: translateX(-50%) rotateY(-14deg) translateX(50%); */
	border-left: 0;
	border-right: 0;
	min-width: 300px;
}

.redux-in-restaurant > *:last-child {
	flex-shrink: 1;
	flex-basis: 50%;
	/* transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px); */
}

 /* Folding Transforms
 Take off folding when not checked */
input#fold:not(:checked) ~ #main .redux-in-restaurant > * {
	transform: none;
}

label[for="fold"] {
	position: absolute;
	top: 1rem;
	left: 1rem;
	text-transform: uppercase;
	font-size: 1.3rem;
	background: #000;
	color: #fff;
	border: 2px solid #000;
	cursor: pointer;
	padding: 0.5rem 1rem;
}

input#fold {
	display: none;
}

input#fold:checked + label {
	background: #fff;
	color: #000;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.order li {
	border-bottom: 1px solid #000;
	padding: 2rem 0;
	display: flex;
	font-size: 1.4rem;
	justify-content: space-between;
	align-items: center;
}

ul.order li:hover button {
	display: inline;
}

ul.order li button {
	border: 0;
	display: none;
	line-height: 1;
	padding: 0;
}

ul.order li.total {
	font-weight: 600;
	border-bottom: 3px solid #000;
	border-top: 3px double #000;
}

ul.order li.unavailable {
	text-decoration: line-through;
	background: #f8d0d2;
}

ul.order li .price {
	font-size: 1.2rem;
}

ul.order li span.count {
	position: relative;
	overflow: hidden;
	float: left;
}

ul.order li span.count span {
	display: inline-block;
}

.order-title {
	text-align: center;
}

.dish-edit {
	margin-bottom: 20px;
	border: 2px solid #000;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.dish-edit input,
.dish-edit textarea,
.dish-edit select {
	width: 31.4%;
	padding: 10px 5px;
	line-height: 1;
	font-size: 1.2rem;
	border: 0;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	appearance: none;
	border-radius: 0;
	background: #fff;
}

.dish-edit input:focus,
.dish-edit textarea:focus,
.dish-edit select:focus {
	outline: 0;
	background: #fef2de;
}

.dish-edit textarea {
	width: 100%;
}

.dish-edit input:last-of-type {
	width: 100%;
}

.dish-edit button {
	width: 100%;
	border: 0;
}
/*  */

/* Menu Styles */
.list-of-dish {
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	padding-top: 5px;
	margin-top: 2rem;
	transform: translateZ(0);
}

.menu-dish {
	border-bottom: 2px solid #000;
	border-top: 1px solid #000;
	padding-bottom: 2rem;
	padding-top: 2rem;
	margin-bottom: 5px;
	clear: both;
	overflow: hidden;
}

.menu-dish p {
	margin: 0;
	font-size: 1.8rem;
}

.menu-dish .dish-name {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-dish .price {
	font-size: 1.4rem;
	justify-content: flex-end;
}

.menu-dish img {
	float: left;
	width: 150px;
	margin-right: 1rem;
}

button,
input[type=submit] {
	text-transform: uppercase;
	background: none;
	border: 1px solid #000;
	font-weight: 600;
	font-size: 1.5rem;
	font-family: 'Open Sans';
	transition: all 0.2s;
	position: relative;
	z-index: 2;
}

button[disabled],
input[type=submit][disabled] {
	color: #d12028;
	background: #fff;
	border-color: #d12028;
	transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}

button[disabled]:hover,
input[type=submit][disabled]:hover {
	color: #d12028;
	cursor: not-allowed;
}

button[disabled]:after,
input[type=submit][disabled]:after {
	display: none;
}

button:after,
input[type=submit]:after {
	content: '';
	z-index: -1;
	display: block;
	background: #000;
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	top: 0;
	transition: all 0.2s;
}

button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
	color: #fff;
	outline: 0;
}

button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
	height: 100%;
}

button.warning:after,
input[type=submit].warning:after {
	background: #d12028;
}

button.success:after,
input[type=submit].success:after {
	background: #2dc22d;
}

button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
	border: 0;
	display: block;
	margin-bottom: 2rem;
	width: 100%;
	color: #fff;
	padding: 2rem;
}

button.github,
input[type=submit].github {
	background: #82d465;
}

button.github:after,
input[type=submit].github:after {
	background: #5cc437;
}

button.facebook,
input[type=submit].facebook {
	background: #3864a3;
}

button.facebook:after,
input[type=submit].facebook:after {
	background: #2d5082;
}

button.twitter,
input[type=submit].twitter {
	background: #5ea9dd;
}

button.twitter:after,
input[type=submit].twitter:after {
	background: #2c8dd0;
}

/* Menu Styles */
/* Store Selector */
.store-selector {
	background: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 2rem;
	border: 2px solid #000;
}

.store-selector input,
.store-selector button {
	width: 100%;
}

.store-selector input[type="text"],
.store-selector button[type="text"] {
	text-align: center;
	font-size: 3rem;
}
/* Store Selector */